*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}
